{% extends "MeteoBundle::layout.html.twig" %}
{% block body %}
<h1>Recherche par :</h1>
<div class="listeville">
    <h2>Liste de villes :</h2>
    <ul>
        <li><a href="{{ path('meteo_render_id', {'id' : 2968815}) }}">Paris</a></li>
        <li><a href="{{ path('meteo_render_id', {'id' : 2643743}) }}">Londre</a></li>
        <li><a href="{{ path('meteo_render_id', {'id' : 5128638}) }}">New York</a></li>
        <li><a href="{{ path('meteo_render_id', {'id' : 7285902}) }}">Genève</a></li>
        <li><a href="{{ path('meteo_render_id', {'id' : 2950158}) }}">Berlin</a></li>
        <li><a href="{{ path('meteo_render_id', {'id' : 6359304}) }}">Madrid</a></li>
        <li><a href="{{ path('meteo_render_id', {'id' : 5344157}) }}">Dublin</a></li>
        <li><a href="{{ path('meteo_render_id', {'id' : 2759794}) }}">Amsterdam</a></li>
        <li><a href="{{ path('meteo_render_id', {'id' : 2996814}) }}">Magland</a></li>
    </ul>
</div>
<div class="input">
    <h2>Saisi de la ville :</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
</div>
<div class="gps">
    <h2>Coordonnées GPS :</h2>
    <button data-url="{{ path('meteo_render_gps', {'latitude' : "latitude", 'longitude' : "longitude" }) }}" onClick="gps(this.getAttribute('data-url'));" >Utiliser ma Localisation</button>
    <script type="text/javascript">
    function gps(link){
        if (navigator.geolocation) //tu vérifies la disponibilité de la géo
        {
            navigator.geolocation.getCurrentPosition( //tu lances la géo qui va vérifier si l'utilisateur est d'accord
                    function(position) //l'utilisateur est ok, donc cette fonction est exécutée, son premier paramètre est un objet position
                    {
                        var latitude = position.coords.latitude; //tu récupère la latitude
                        var longitude = position.coords.longitude; //tu récupère la longitude
                        //tu récupère la valeur de ton lien
                        //tu modifie ton lien
                        link = link.replace('latitude',latitude);
                        link = link.replace('longitude',longitude);
                        //ci dessous, tu demande au navigateur de modifier sa source avec
                        window.location.replace(link);
                    }
            );
        }
        else{
            alert("Votre navigateur ne prend pas en compte la géolocalisation HTML5");
        }
    }
</script>
</div>
    {% endblock body %}