{% extends "MeteoBundle::layout.html.twig" %}
{% block title %}Votre Meteo{% endblock title %}
{% block styles %}
    <style>
        body
        {
            background: url("http://web-svenning.fr/images/{{ donnees.type }}.png") no-repeat center fixed;
            -webkit-background-size: cover;
        }
    </style>
{% endblock styles %}
{% block body %}
        <div class="render">
            <h1>Météo à {{ donnees.nom }}</h1>
            <h2>Données</h2>
            <ul>
                <li>Humidité : {{ donnees.humidite }} %</li>
                <li>Temperature : {{ donnees.temperature }} °C</li>
            </ul>
            <h3>{{ donnees.description|capitalize }}</h3>
        </div>
{% endblock body %}