{% extends "MeteoBundle::layout.html.twig" %}
{% block title %}Votre Meteo{% endblock title %}
{% block body %}
        <div class="render">
            <h1>Météo à {{ info }}</h1>
            <h2>Données</h2>
            <ul>
                <li id="humidite">Humidité : {{  donnees[0].humidite }}%</li>
                <li id="temperature">Temperature : {{ donnees[0].temperature }}°C</li>
            </ul>
            <h3 id="description">{{ donnees[0].description|capitalize }}</h3>
            <center>Prévisions :<br>
            <input type="range" id="weather-range" min="0" max="5" value="0" step="1" />`<br>
                <p id="datetime">Météo pour le : {{ donnees[0].date }}</p>
            <a href="{{ path('meteo_homepage') }}"><input type="button" value="Retour"></a><br></center>
        </div>
    <div id="background">
        <img src="http://web-svenning.fr/images/{{ donnees[0].type }}.png" alt="{{ donnees[0].type }}">
    </div>
{% endblock body %}
{% block js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script>
    var donnees = JSON.parse('{{ donnees_j|raw }}');
    /**
     * Calls «updateWeatherData» when slider is moved
     */
    $('#weather-range').on("change mousemove", function() {
        if((typeof donnees[$(this).val()] != 'undefined')) {
            updateWeatherData(donnees[$(this).val()]);
        }
    });
    function updateWeatherData(donnees)
    {
        if(donnees.temperature === "Indisponible")
        {
            $('#temperature').html('Temperature '+donnees.temperature);
        }
        else{
            $('#temperature').html('Temperature : '+donnees.temperature+ '°C');
        }
        if(donnees.humidite === "Indisponible")
        {
            $('#humidite').html('Humidité '+donnees.humidite);
        }
        else{
            $('#humidite').html('Humidité : '+donnees.humidite+ '%');
        }
        $('#description').html(donnees.description);
        $('#background').html('<img src="http://web-svenning.fr/images/'+donnees.type+'.png" alt="'+donnees.type+'">');
        if(typeof donnees.date === 'string')
        {
            if(donnees.date === "Indisponible")
            {
                $('#datetime').html('La prévision est indisponible');
            }
            else {
                $('#datetime').html('Meteo pour le : '+donnees.date);
            }
        }
        else{
            var currentDate = new Date(donnees.date);
            $('#datetime').html('Meteo pour le : '+currentDate.toLocaleDateString()+' à '+currentDate.toLocaleTimeString());
        }
    }
</script>
{% endblock js %}